.main {
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: rgb(158, 157, 230);
  padding: 300px;
}

.imgs {
  padding-top: 20px;
  justify-content: center;
  display: block;
  text-align: center;
}

.profile {
  height: 100px;
  width: 100px;
}
.input {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  padding-top: 20px;
  padding: 20px;
}
.name {
  padding: 20px;
  border-radius: 60px;
  padding-top: 20px;
  margin-top: 20px;
  height: 20px;
  width: 400px;
}
.button {
  width: 200px;
  padding: 15px 10px;
  border-radius: 60px;
  text-align: center;
}
* {
  background-image: url(https://images.app.goo.gl/fQKvC3PQhjdwaTxH7);
}
